/* *********************************| المتغيرات الأساسية |********************************* */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap');

:root {
    /* ألوان وضع النهار */
    --bg-color: #f8f9fa;
    --text-color: #212529;
    --primary-color: #001427;
    /* #d90429 */
    --secondary-color: #ffffff;
    --icon-bg-color: #FDFCF9;
    --border-color: #ced4da;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --hover-shadow-color: rgba(0, 0, 0, 0.2);

    /* ألوان وضع الليل */
    --bg-color-dark: #121212;
    --text-color-dark: #e0e0e0;
    --primary-color-dark: #0077b6;
    /* #dd1c1a */
    --secondary-color-dark: #1f1f1f;
    --icon-bg-color-dark: #1e1e1e;
    --border-color-dark: #333333;
    --shadow-color-dark: rgba(0, 0, 0, 0.5);
    --hover-shadow-color-dark: rgba(0, 0, 0, 0.7);

    /* خصائص الخط */
    --font-family: 'Cairo', sans-serif;
    --font-size-title: 18px;
    --font-size-text: 14px;
    --icon-size: 40px;

    /* تأثيرات العناصر */
    --border-radius: 10px;
    --shadow: 0 2px 4px var(--shadow-color);
    --shadow-hover: 0 4px 8px var(--hover-shadow-color);

    /* تأثيرات وضع الليل */
    --shadow-dark: 0 2px 4px var(--shadow-color-dark);
    --shadow-hover-dark: 0 4px 8px var(--hover-shadow-color-dark);
}


/* *********************************| القواعد الأساسية |********************************* */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    direction: rtl;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* *********************************| وضع الليل |********************************* */
body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

body.dark-mode .container {
    background-color: var(--secondary-color-dark);
    box-shadow: var(--shadow-dark);
}

/* *********************************| الهيدر |********************************* */
header.navbar {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: var(--shadow);
    padding: 10px;
    transition: background-color 0.3s ease;
}

body.dark-mode header.navbar {
    background-color: var(--primary-color-dark);
}

header h1 {
    color: var(--white-color);
    font-size: var(--font-size-title);
    margin: 0;
    padding: 10px 0;
}


/* *********************************| البانر |********************************* */
.main-section {
    margin: 5vh;
}

.main-image-container {
    display: block;
    border: 3px solid var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

body.dark-mode .main-image-container {
    border: 3px solid var(--primary-color-dark);

}

.main-image {
    padding: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.main-image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(.1px);
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.main-image:hover {
    transform: scale(1.05);
}

.section-title {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

.main-section-title {
    text-align: center;
    background: var(--primary-color);
    margin: auto;
    padding: 5px 10px 5px 10px;
    width: 80%;
    max-width: 400px;
    color: var(--secondary-color);
    font-size: var(--font-size-title);
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

body.dark-mode .main-section-title {
    background-color: var(--primary-color-dark);
}

/* *********************************| ازرار التنقل  |********************************* */
.icons-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px 10px 5px 10px;
}

.icon {
    background-color: var(--icon-bg-color);
    padding: 10px 4px 2px 4px;
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.icon:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow-hover);
}

body.dark-mode .icon {
    background-color: var(--icon-bg-color-dark);
}

.icon img {
    width: var(--icon-size);
    height: var(--icon-size);
    margin-bottom: 8px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.icon img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.icon p {
    margin: 0;
    font-size: var(--font-size-text);
    color: var(--dark-color);
    pointer-events: none;
}


@media screen and (max-width: 210px) {
    .icons-section {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* ******************************************************************| الاقسام الداخلة |****************************************************************** */

/* *********************************| التنقل بين الصفحات |********************************* */

.hidden {
    display: none;
}

.internal-section {
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

#back-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #ffffff;
    font-size: 1.5rem;
}

/* *********************************| شريط التنقل السفلي |********************************* */

#bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: var(--shadow);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform 0.3s ease;
    transform: translateY(150%);
    z-index: 1000;
}

body.dark-mode #bottom-nav {
    background-color: var(--primary-color-dark);
}

#bottom-nav.visible {
    transform: translateY(0);
}

.nav-icon {
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-icon:hover {
    transform: scale(1.1);
}

.center-icon {
    position: relative;
    top: -1.5px;
    z-index: 1100;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    font-size: var(--font-size-title);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.center-icon:hover {
    transform: scale(1.2);
}

body.dark-mode .center-icon,
body.dark-mode .settings-section h3 {
    color: var(--primary-color-dark);
}

/* *********************************| صفحة الإعدادات |********************************* */


.settings-section {
    background: var(--bg-color);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.settings-section h3 {
    margin-bottom: 15px;
    color: var(--primary-color);
    font-size: 1.2em;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.setting-item:last-child {
    border-bottom: none;
}

.setting-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.setting-info i {
    color: var(--primary-color);
    font-size: 1.2em;
}

body.dark-mode .setting-info i {
    color: var(--primary-color-dark);
}

body.dark-mode .settings-section,
body.dark-mode .settings-select {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

body.dark-mode .settings-section {
    background-color: var(--icon-bg-color-dark);

}

body.dark-mode .setting-item p,
body.dark-mode .setting-item label,
body.dark-mode .setting-item h3 {
    color: var(--text-color-dark);
}

/* *********************************| مفتاح التبديل |********************************* */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--primary-color);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

body.dark-mode input:checked+.slider {
    background-color: var(--primary-color-dark);
}

/* *********************************| القائمة المنسدلة |********************************* */
.settings-select {
    padding: 2px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    cursor: pointer;
    text-align: center;
}

body.dark-mode .settings-select {
    border: 1px solid var(--border-color-dark);

}

/* *********************************| منطقة الحذف |********************************* */
.danger-zone {
    text-align: center;
    margin-top: 20px;
}

.delete-data-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.delete-data-btn:hover {
    background-color: #d32f2f;
}



/* شاشة التحميل */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

body.dark-mode .loading-screen {
    background-color: var(--bg-color-dark);
}

/* الدائرة الدوارة */
.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top-color: var(--primary-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

body.dark-mode .spinner {
    border: 6px solid rgba(255, 255, 255, 0.1);
    border-top-color: var(--primary-color-dark);
}

/* النص */
.loading-screen p {
    margin-top: 20px;
    font-size: 16px;
    color: var(--text-color);
}

body.dark-mode .loading-screen p {
    color: var(--text-color-dark);
}

/* حركة الدوران */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}